{% extends "base_intranet.html" %}

{% block content_intranet %}

    <!--=== Content Part ===-->

        <!--Error Block-->
		<br>
		<div class="row">
                    <img class="img-responsive" src="{{ baseUrl() }}/imagenes/maquetacion/mano-error404.png" alt="Manos representando el error 404">
                    <h1>Página no encontrada</h1>
                    <p>Lo sentimos, pero la página que busca no existe o no se puede encontrar. (Error 404)</p>
         </div>
        <!--End Error Block-->


{% endblock %}
