{% extends "base.html" %}

{% block content %}

	


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">
            <div class="col-md-4">
                <div class="thumbnail-style">
                    <img src="imagenes/maquetacion/simulacion-onda.jpg" alt="Simulacion Tsunami" class="img-responsive">
                    <h3><a>Alerta Tsunami</a> <small>www.alertatsunami.com</small></h3>
                    <p>TFG UNIR</p>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="margin-bottom-10"></div>
				<div class="headline"><h1>Proyecto Alerta Tsunami</h1></div>					
                <p><span class="dropcap-bg">E</span>l riesgo de Tsunamis en el litoral suroccidental de la península ibérica: Cádiz, Huelva y Algarve Portugués es más que inminente. El último temblor que desencadenó en Tsunami fue el acontecido el día uno de noviembre de 1755, conocido como Terremoto de Lisboa, el cual alcanzó una magnitud de 8,6 provocando un desastre sin precedentes.
				La máxima geológica dice que allá donde hubo un temblor éste volverá a repetirse, por tanto, aunque es imposible precisar cuándo sucederá, lo que sí es una verdad irrefutable es que un nuevo Tsunami golpeará nuestras costas, quizás dentro de 100 años o quizás mañana mismo.
				España no dispone en la actualidad de ningún plan de emergencias que ayudase a alertar a la población para mitigar las pérdidas humanas que se padecerán cuando llegue la catástrofe.  
				Para disponer de un plan de emergencias efectivo, se tendrían que solucionar dos grandes problemas:
				</p>
				<br>
				<b>PROBLEMA 1.- Sistema de detección temprana de Tsunamis.</b>
				<p>En la actualidad cuando los sismógrafos detectan un terremoto se emite un mensaje con las coordenadas y la magnitud. Una vez que se ha producido, si éste tiene más de 5,5 en la escala Richter y un epicentro marino cerca de la costa o donde históricamente se haya generado un tsunami, se emite una alerta, que no significa que se produzca, sino que cabe la posibilidad que se pueda generar.
				<br>
				A partir de aquí entran en juego los mareógrafos o boyas Dart. Estas últimas permitirían saber si se genera tsunami, pero ni España ni Portugal las tienen. Sí existen mareógrafos, que detectan la fluctuación del mar, pero una vez ha llegado, reduciendo así el margen de actuación. Por tanto, la solución al primer problema pasaría por desplegar boyas Dart que permitan una detección temprana del Tsunami y aumente así el tiempo de reacción.</p>
				<br>
				<b>PROBLEMA 2.- Sistema de Alerta a la Población.</b>
				<p>El segundo problema viene una vez se tiene la certeza que la ola se acerca a las costas, ya que en la actualidad no se dispone de ningún sistema que permita avisar directamente a la población, para que evacuen las zonas de riesgo.</p>

				<div class="margin-bottom-20"></div>

				<div class="shadow-wrapper">
					<blockquote class="hero box-shadow shadow-effect-2">
						<p><em>Este proyecto tiene como finalidad el desarrollo de un sistema de alarmas ante Tsunamis, el cual se centrará en tratar de solventar técnicamente el segundo de los problemas anteriormente expuestos: “Difundir la alarma”.</em></p>
					</blockquote>
				</div>
				
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


		
{% endblock %}