{% extends "base.html" %}

{% block content %}



    <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">

			<!--=== Control de Errores ===-->
			{% if error is not empty %}
						{% if error == 0 %}			  
							<div class="alert alert-success fade in">
                                <strong>Muchas Gracias.</strong> Su registro se ha completado con éxito.
                            </div>	
                        {% elseif error == 1 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es necesario que introduzca su nombre.
                            </div>	
                        {% elseif error == 2 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es necesario que introduzca sus apellidos.
                            </div>								
						{% elseif error == 3 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Por favor, revise el correo electrónico. 
                            </div>							
						{% elseif error == 4 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Introduzca su número de Teléfono.
                            </div>	
						{% elseif error == 5 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es necesario que indique su zona de residencia.
                            </div>	
						{% elseif error == 6 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es necesario que escriba una contraseña.
                            </div>								
						{% elseif error == 7 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es obligatorio leer y aceptar la Política de Privacidad.
                            </div>	
						{% elseif error == 8 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Es obligatorio demostrar que no eres un robot.
                            </div>								
						{% elseif error == 9 %}
							<div class="alert alert-danger fade in">
                                <strong>Atención:</strong> Error en el envío del SMS.
                            </div>	
						{% endif %}  
				{% endif %}


				
				<div class="headline"><h1>Registrarse en el sistema de Alertas</h1></div>			
                <p>Cumplimentando el siguiente formulario, se dará de alta en el sistema de alertas ante Tsunamis.</p>

				<!-- Comienzo de Formulario de Registro -->
				<form class="form-horizontal" name="formulario-registro" method="post" action="{{ baseUrl() }}/registro">

				
                    <label>Nombre</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<input id="campo_nombre" name="campo_nombre" class="form-control input-md" required="" type="text">
                        </div>                
                    </div>

                    <label>Apellidos</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<input id="campo_apellidos" name="campo_apellidos" class="form-control input-md" required="" type="text">
                        </div>                
                    </div>

                    <label>Email</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<input id="campo_email" name="campo_email" class="form-control input-md" required="" type="email">
                        </div>                
                    </div>
					
                    <label>Teléfono Móvil</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<input id="campo_telefono" name="campo_telefono" class="form-control input-md" required="" type="text">
                        </div>                
                    </div>
					
                    <label>Zona de Residencia</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<select class="form-control" id="campo_zona" name="campo_zona" required="" type="text">
								<option>Cádiz</option>
								<option>Huelva</option>
								<option>Cádiz y Huelva</option>
							</select>							
                        </div>                
                    </div>					
					
                    <label>Contraseña</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
							<input id="campo_password" name="campo_password" class="form-control input-md" required="" type="password">
                        </div>                
                    </div>
					

                    <div class="checkbox-group">
                        <input type="checkbox" id="aceptar" name="check" value="SI" required>
                             <label for="aceptar">&nbsp;He leído y acepto la <a href="{{ baseUrl() }}/politica-de-privacidad" target="_blank">política de privacidad.</a></label>
                    </div>

					<br>
					<div class="g-recaptcha" data-sitekey="6LcW7agUAAAAAFqeY9BneOgp94rEZuUv_-ilnDGY"></div>					
					<br>
					
                    <p><button type="submit" class="btn-u">Enviar Datos de Registro</button></p>
					<br>
                </form>			
			</div>
            <!-- Fin de Formulario -->			
			
            <!-- Begin Sidebar -->
			
            <div class="col-md-3">
	
                <!-- Contacts -->
                <div class="headline"><h2>Datos de Contacto</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><i class="fa fa-home"></i>Av. de la Paz, 137</li>
                    <li><i class="fa fa-map-marker"></i>26006 Logroño, La Rioja</li>					
                    <li><i class="fa fa-phone"></i>+34 941 209 743</li>
                    <li><i class="fa fa-envelope"></i>info@alertatsunami.com</li>
                </ul>

                <!-- Business Hours -->
                <div class="headline"><h2>Horario</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Lunes-Viernes:</strong> De 08:00 a 15:00</li>
                    <li><strong>Sábados y Domingos:</strong> Cerrado</li>
                </ul>

			
                <!-- Social Icons -->
                <div class="magazine-sb-social margin-bottom-30">
                    <div class="headline headline-md"><h2>Redes Sociales</h2></div>
                    <ul class="social-icons social-icons-color">
                        <li><a class="social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="social_linkedin" data-original-title="Linkedin" href="#"></a></li>
					</ul>
                    <div class="clearfix"></div>                
                </div>
                <!-- End Social Icons -->
				


            </div>
            <!-- End Sidebar -->			
			
			
        </div>
    </div><!--/container-->     
    <!-- End Content Part -->

	

{% endblock %}