{% extends "base.html" %}

{% block content %}


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">

            <div class="col-md-12">
                <div class="margin-bottom-10"></div>
				<div class="headline"><h1>Política de Privacidad</h1></div>
				
                <h2>Protección de Datos Personales</h2>
				<p>La presente Política de Privacidad ha sido desarrollada teniendo en cuenta lo dispuesto por la Ley Orgánica de Protección de Datos de carácter personal en vigor, así como por el Reglamento 2016/679 del Parlamento Europeo y del consejo del 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la circulación de estos datos, en adelante el RGPD.</p>
				<p>Esta Política de Privacidad tiene por objeto poner en conocimiento de los titulares de los datos personales, respecto de los cuales se está recabando información, los aspectos específicos relativos al tratamiento sus datos, entre otras cosas, las finalidades de los tratamientos, los datos de contacto para ejercer los derechos que le asisten, los plazos de conservación de la información y las medidas de seguridad entre otras cosas.</p>
				<p>A través de este sitio web se recogen y/o ceden a terceros, datos personales de los interesados con previo conocimiento efectivo de los usuarios.</p>
				
				<div class="margin-bottom-20"></div>

                <h2>Datos Suministrados por los Usuarios</h2>
				<p>Los datos de carácter personal que se soliciten, en su caso, a los usuarios, consistirán únicamente en aquellos estrictamente imprescindibles para identificarlos y prestarles el servicio solicitado. Dicha información será tratada con la exclusiva finalidad de proporcionarles una respuesta efectiva y cumplir con las finalidades correspondientes, especificadas junto a la opción o servicio que el usuario solicite, entre otras, remitirle información sobre nuestros productos y servicios.</p>
				<p>Asimismo el usuarios autoriza para que sus datos, facilitados a través de la presente web, sean comunicados a terceras entidades con las que colabora Miguel Ángel Quirós (en adelante Alerta Tsunami), con el objeto de que procedan al envío de información sobre productos y servicios propios.</p>
				<p>El usuario será informado, con carácter previo a la recogida de los datos, de los extremos regulados en esta política a fin de que pueda prestar el consentimiento expreso, preciso e inequívoco para el tratamiento de sus datos, conforme a las finalidades determinadas, explícitas y legítimas, indicadas en cada caso.</p>
				<p>Los datos de carácter personal que se faciliten por el usuario a través del correspondiente formulario web, o por correo electrónico, se incorporaran en un fichero debidamente inscrito en el Registro público de la Autoridad de Control competente, cuya responsabilidad corresponde a Miguel Ángel Quirós.</p>

				<div class="margin-bottom-20"></div>
				
				<h2>Datos de Navegación</h2>	
				<p>El sistema de navegación y el software necesarios para el funcionamiento de este sitio web recogen algunos datos de carácter personal, cuya transmisión se halla implícita en el uso de los protocolos de comunicación de Internet. </p>
				<p>Dicha información no se obtiene para ser asociada a usuarios identificados, pero por su propia naturaleza podría, a través de su asociación con datos de terceros, permitir la identificación de los mismos. En esta categoría de datos se encuentran, la dirección IP o el nombre de dominio del ordenador utilizado por el usuario para conectarse al sitio web, la dirección URL del recurso solicitado, la hora, y otros parámetros relativos al sistema operativo del entorno informático del usuario.</p>
				<p>Estos datos se utilizan con la exclusiva finalidad de obtener información estadística anónima sobre el uso del sitio web o controlar el correcto funcionamiento técnico del sitio web y se cancelan inmediatamente después de su verificación, sin perjuicio de las obligaciones establecidas por la Ley 34/2002, de 11 de julio, de Servicios de Sociedad de la Información y Comercio Electrónico.</p>

				<div class="margin-bottom-20"></div>				
				
				<h2>Derechos de Acceso, Rectificación, Cancelación y Oposición</h2>	
				<p>Los interesados podrán ejercitar los derechos de acceso, rectificación, cancelación y oposición, regulados en los artículos 15 y siguientes de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de carácter personal, o bien revocar el consentimiento prestado para el tratamiento de sus datos, dirigiéndose a Alerta Tsunami, mediante comunicación escrita remitida a la siguiente dirección de correo electrónico a info@alertatsunami.com, indicando en la línea de Asunto el derecho que desean ejercitar. </p>

				<div class="margin-bottom-20"></div>				
				
				<h2>Enlaces</h2>
				<p>Esta política de privacidad sólo es de aplicación a la página web de Alerta Tsunami, no se garantiza en los accesos a través de enlaces con este sitio, ni a los enlaces desde este sitio con otras webs.</p>

				<div class="margin-bottom-20"></div>				
				
				<h2>Seguridad</h2>		
				<p>Las medidas de seguridad adoptadas por Alerta Tsunami son las adecuadas al nivel de seguridad exigible a los datos que el usuario le facilita, de conformidad con lo previsto en el artículo 9 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de carácter personal y su Reglamento de desarrollo, aprobado por el Real Decreto 1720/2007, de 21 de diciembre.</p>
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


		
{% endblock %}