{% extends "base_usuarios.html" %}

{% block content %}

	
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">


            <div class="col-md-9">
                <div class="margin-bottom-10"></div>
				<div class="headline"><h1>Área Privada</h1></div>							
					<div class="margin-bottom-20"></div>				
				<div class="shadow-wrapper">
					<blockquote class="hero box-shadow shadow-effect-2">
						<p><em>Recuerde que puede modificar sus datos editando su perfil.</em></p>
						<small><em>El equipo de Alerta Tsunami</em></small>
					</blockquote>
				</div>

					<div class="margin-bottom-20"></div>				

            </div>
			
	            <div class="col-md-3">
                <div class="thumbnail-style">
					<img alt="Imagen que muestra un dibujo de edición" src="{{ baseUrl() }}/imagenes/usuarios/imagen-edicion.png" class="img-responsive">
                    <div class="clearfix"></div>					
					<div class="margin-bottom-20"></div>														
                </div>
            </div>		
			
			
			
			
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->
	
{% endblock %}