{% extends "base.html" %}

{% block content %}

    <!--=== Content Part ===-->
    <div class="container content">		
        <!--Error Block-->
        <div class="row">

                <div class="error-v1">
                    <img class="img-responsive center-block" src="imagenes/maquetacion/mano-error404.png" alt="Página no encontrada">
                    <span>Página no encontrada</span>
                    <p>Lo sentimos, pero la página que busca no existe o no se puede encontrar. (Error 404)</p>
                    <a class="btn-u btn-bordered" href="/">Volver a la Home</a>
                </div>

        </div>
        <!--End Error Block-->
    </div>	
    <!--=== End Content Part ===-->

{% endblock %}
