{% extends "base.html" %}

{% block content %}


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">

            <div class="col-md-12">
                <div class="margin-bottom-10"></div>
				<div class="headline"><h1>Política de Cookies</h1></div>
				
                <h2>¿Qué son las Cookies?</h2>
				<p>Una cookie es un archivo o dispositivo que se descarga en el equipo terminal de un usuario con la finalidad de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación. Es decir, es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. </p>

				<div class="margin-bottom-20"></div>

                <h2>¿Qué tipo de cookies utiliza esta página web?</h2>
				<p>La presente página web está utilizando cookies que permiten facilitar al usuario el uso y la navegación a través de la misma, garantizar el acceso a determinados servicios, así como mejorar la configuración funcional de la web. </p>
				<p>Concretamente, esta página web utiliza las siguientes cookies:</p>
				<p><b>Cookies propias: </b>que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado al usuario.<p>
				<p><b>Cookies de terceros: </b>que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través de las cookies.<p>				
				<p><b>Cookies de sesión: </b>diseñadas para recabar y almacenar datos mientras el usuario accede a la web.<p>				
				<p><b>Cookies persistentes: </b>diseñadas para recabar y almacenar datos durante un período determinado de tiempo.<p>				
				<p><b>Cookies técnicas: </b>utilizadas para permitir al usuario la navegación a través de la página web, plataforma o aplicación.<p>				
				<p><b>Cookies de análisis: </b>estas cookies se utilizan para llevar a cabo un análisis de los comportamientos y acciones de los usuarios de la página web o plataforma así como para la elaboración de perfiles de navegación con el fin de realizar mejoras técnicas de funcionamiento y de servicio.<p>				

                <h2>Resumen de Cookies</h2>	

				<table class="table">
				<tbody>
				  <tr>
					<td class="active">Tipo</td>
					<td class="active">Caducidad</td>
					<td class="active">Finalidad</td>
					<td class="active">Propias/Terceros</td>
				  </tr>
				  <tr>
					<td>Técnica</td>
					<td>De sesión</td>
					<td>Información de sesión para permitir la funcionalidad del sitio web o plataforma.</td>
					<td>Propia</td>
				  </tr>  
				  <tr>
					<td>Analítica</td>
					<td>Persistente</td>
					<td>Para determinar nuevas sesiones / visitas.</td>
					<td>Tercero (Google analytics)</td>
				  </tr>    
				  <tr>
					<td>Analítica</td>
					<td>Persistente</td>
					<td>Para determinar como el usuario llegó a su sitio.</td>
					<td>Tercero (Google analytics)</td>
				  </tr> 
				  <tr>
					<td>Analítica</td>
					<td>Persistente</td>
					<td>Para distinguir a los usuarios y sesiones.</td>
					<td>Tercero (Google analytics)</td>
				  </tr>   
				  <tr>
					<td>Técnica</td>
					<td>De sesión</td>
					<td>Complementa el funcionamiento de _utmb.</td>
					<td>Tercero (Google analytics)</td>
				  </tr>   
				  <tr>
					<td>Técnica</td>
					<td>Persistente</td>
					<td>Contiene datos sobre preferencias de visualización.</td>
					<td>Tercero (Youtube)</td>
				  </tr>  

				  <tr>
					<td>Analítica</td>
					<td>De sesión</td>
					<td>Contiene un identificador único para permitir el control de visitas a videos de Youtube.</td>
					<td>Tercero (Youtube)</td>
				  </tr>   
				  <tr>
					<td>Analítica</td>
					<td>Persistente</td>
					<td>Contiene un identificador único para permitir el control de visitas a videos de Youtube.</td>
					<td>Tercero (Youtube)</td>
				  </tr>   
				</tbody>
				</table>

                <h2>¿Cómo gestionar la configuración de las cookies?</h2>
				<p>En el presente apartado se lleva a cabo una breve exposición de cómo consultar y llevar a cabo la configuración del sistema de cookies en relación a los navegadores más comunes o más utilizados por los usuarios. </p>				
				<p>En este sentido, prácticamente todos los navegadores permiten al usuario obtener información general sobre las cookies instaladas en una página web, concretamente verificar la existencia de las mismas, su duración o el sistema de eliminación. En este sentido, a título informativo, se facilitan una serie de enlaces relacionados: </p>
				<br>
				<table class="table">
				<tbody>
				  <tr align="center">
					<td class="active">Google Chrome</td>
					<td class="active">Mozilla Firefox</td>
					<td class="active">Microsoft Edge</td>
				  </tr>
				  <tr align="center">
					<td><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=es"><img src="{{ baseUrl() }}/imagenes/iconos/icono_chrome.gif"  alt="Logotipo de Chrome"></a></td>
					<td><a target="_blank" href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-"><img src="{{ baseUrl() }}/imagenes/iconos/icono_firefox.gif" alt="Logotipo de Mozilla Firefox"></a></td>
					<td><a target="_blank" href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq"><img src="{{ baseUrl() }}/imagenes/iconos/icono_edge.gif"  alt="Logotipo de Microsoft Edge"></a></td>
				  </tr>  
				</tbody>
				</table>

				<p>Por otra parte, el usuario podrá permitir, bloquear o eliminar las cookies instaladas en su equipo modificando la configuración de su navegador conforme a las instrucciones indicadas en el mismo. A título informativo se indica que habitualmente la configuración de las cookies se suele llevar a cabo en el menú "Preferencias" o "Herramientas" de cada navegador, en cualquier caso, siempre podrá acudir a la ayuda de su navegador para solucionar o solventar las dudas que se le generen al respecto.</p>				
				<p>Conviene tener en cuenta que, si se impide la instalación de todas las cookies, el contenido de la web así como determinadas funcionalidades y servicios facilitados por la misma pueden verse afectados.</p>

            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


		
{% endblock %}